@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px dashed #00bafc;
  outline-offset: 4px;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  object-fit: cover;
  display: flex;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: black;
}
.btn {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #00bafc;
  color: #ffffff;
  font-size: 16px;
  border: 2px solid;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: #00bafc;
    color: #00bafc;
  }
  &:active {
    background-color: rgba(0, 186, 252, 0.6);
    color: #ffffff;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
main {
  flex-grow: 1;
}
h1 {
  margin: 0;
}
/* header start */
.header {
  box-shadow: 0px 4px 20px 0px #0000001a;
}
.header-container {
  display: flex;
  align-items: center;
}

.site-logo {
  display: block;
  margin-right: auto;
}
.sitenav-list {
  display: flex;
}
.sitenav-item {
  position: relative;
}
.sitenav-link {
  padding: 16px;
  line-height: 24px;
  font-size: 15px;
  color: #000000;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom-color: #191919;
  }

  &:active {
    background-color: rgba(25, 25, 25, 0.7);
    color: #ffffff;
    border-bottom-color: transparent;
  }

  &:focus {
    outline-offset: 0px;
  }
}
.sitenav-list-inner {
  background-color: #ffffff;
  position: absolute;
  width: 124px;
  left: -13px;
  transition: 0.4s;
}
.sitenav-item-inner {
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}
.sitenav-link-inner {
  display: inline-block;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: #000000;

  &:hover {
    background-color: #00bafc;
    color: #ffffff;
    transition: 0.3s;
  }

  &:active {
    background-color: #00bafc;
    color: #ffffff;
    opacity: 0.6;
  }
}
.sitenav-item:hover .sitenav-list-inner {
}

.header-btn {
  font-weight: 700;
  font-size: 15px;
}
/*main start */
.main-container {
  display: flex;
  width: 1100px;
  height: 418px;
}

.hero {
  width: 470px;
  height: 224px;
  margin-top: 97px;
  gap: 16px;
}
.hero-title {
  padding-bottom: 16px;
}
.hero-description {
  padding-bottom: 16px;
  padding-top: 16px;
}
.hero-iframe {
  margin-top: 80px;
  margin-left: 172px;
  border-radius: 5px;
}
.hero-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.main-center {
  display: flex;
  flex-direction: column;
}
.first-div {
  margin-left: 100px;
  margin-right: 100px;
}
.second-div {
  margin-left: 270px;
  margin-top: 48px;
}
.center-list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.center-hero {
  align-items: center;
}
.center-description {
  margin-left: 150px;
  text-align: center;
  width: 719px;
  height: 48px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.center-item {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 260px;
  margin-top: 8px;
  padding: 24px;
  border-radius: 5px;
  gap: 16px;
  margin-top: 24px;
}
.center-title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  margin-top: 40px;
}
.center-btn-list {
  display: flex;
  text-align: center;
  margin-left: 380px;
  margin-top: 40px;
}
.center-item {
  align-items: center;
}
.center-btn {
  margin-bottom: 56px;
}
.center-link {
  text-decoration: underline;
}
.center-p {
  margin-left: 50px;
  align-items: center;
}
.center-h4 {
  margin-left: 50px;
}
.center-link {
  margin-top: 18px;
  margin-left: 16px;
}
.center-links {
  margin-right: 14px;
}
.center-h4-smm {
  text-align: center;
}
.how-we-work {
  display: flex;
  align-items: center;
}

/*main section */

.main-section {
  align-items: center;
}
.section-title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  color: #000;
}
.section-describe {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 719px;
  height: 48px;
  text-align: center;
  margin-left: 180px;
  margin-bottom: 16px;
}
.how-we-work {
  margin-left: auto;
  margin-right: auto;
}
.how-item {
  display: flex;
  align-items: center;
  gap: 32px;
}
.how-btn {
  margin-left: 466px;
  margin-top: 40px;
  margin-bottom: 56px;
}
.subsection-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  gap: 32px;
  width: 832px;
  margin-top: 125px;
  line-height: 20px;
}
.div-item {
  height: 250px;
}

/* first pages finished */
/* second pages start */

.div-page {
  width: 1100px;
  margin-bottom: 72px;
  margin-top: 56px;
  gap: 16px;
}
.page-title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}
.page-description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 800px;
  height: 72px;
  margin-left: 130px;
}
/* first page finished */
.servises {
  margin-left: 90px;
}
.sercises-list {
  display: flex;
  width: 804px;
  height: 378px;
  padding: 32px;
  border-radius: 5px;
  gap: 40px;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.12);
}
.frame {
  width: 500px;
  height: 314px;
  gap: 16px;
  margin-left: 40px;
}
.frame-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.frame-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.frame-description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.frame-img {
  width: 12px;
  height: 12px;
  border-radius: 12px;
}
.frame-btn-list {
  display: flex;
  gap: 16px;
}

.frame-btn {
  margin-top: 16px;
}
.frame-link {
  margin-top: 25px;
  text-decoration: underline;
}
.servises {
  width: 1300px;
  height: 2355px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgba(244, 244, 244, 1);
  margin-left: auto;
  margin-right: auto;
}
.sercises-list {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

/*footer start */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #191919;
  color: #ffffff;
}
.foooter-social-list {
  display: flex;
}
.footer-container {
  display: flex;
  align-items: flex-start;
}
.footer-info {
  margin-right: 100px;
  width: 320px;
}
.footer-title {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.footer-nav {
  margin-right: 87px;
}
.footer-nav-link {
  color: #ffffff;
}
.footer-nav-link:hover {
  color: #00bafc;
}
.footer-nav-link:active {
  color: #00bafc;
  opacity: 0.6;
}
.footer-social-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.footer-nav-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
}
.footer-social-item {
  margin-top: 5px;
}
.footer-social-link:hover {
  color: #00bafc;
}
.footer-social-link:active {
  color: #00bafc;
  opacity: 0.6;
}
.footer-social-link {
  display: flex;
  color: #ffffff;
  gap: 8px;
}
.footer-links {
  margin-top: 16px;
  margin-right: 36px;
}
